.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXJkfoPBcXZQol07cJuRBogKpHl_7odT24R2tNnAZHKcTgOo5o3Q"); */
  background-image: url(./images/backgroundimage3.jpg);
  background-attachment: fixed;
  background-size: 110%;
  background-position-x: 70%;
  background-position-y: 70%;
  color: white;

}

* {
  font-family: 'K2D', sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, p {
    font-family: 'K2D', sans-serif;
    color: white;
}

.welcome {
  text-align: center;
  position: absolute;
  left: 150px;
  right: 150px;
  top: 130px;
  bottom: 130px;
}

.login {
  text-align: center;
  position: absolute;
  left: 150px;
  right: 150px;
  top: 100px;
  bottom: 130px;
}

.login-font {
  color: #00ff00;
}

.grid {
  justify-content: center;
  padding: 0px 50px 0px 50px;
}

.searchcontainer {
  padding: 0px 20px 50px 20px;
}

.searchbar {
  text-align: center;
}

.recommended-artist-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: #8e44ad; */
  overflow-x: auto;
}

.popular-artist-card {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    width: 100%;
    /* background-color: #8e44ad; */
    overflow-x: auto;
}

.content {
  height: 100px;
}

.buttonclass {
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.card {
  padding: 5px 20px 5px 20px;
  height: 10%;
  width: 20%;
  box-sizing: border-box;
}

.selectedcard {
  padding: 5px 20px 5px 20px;
  height: 100%;
  width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
